body {
	font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  overflow-x: hidden;
  background-image: url('background.gif');
  background-size: cover;
  z-index: -2;
	color: white;
		}

.screen{
  background-color: white;
  border-radius: 10px;
  border: solid 5px red;
}

#box {
				width: 30px;
				height: 30px;
				background-color: black;
				display: none;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100px;
        z-index: 10;
		}

 .restart{
	 display: none;
	 font-size: 25px;
	 margin-top: 15%;
	 cursor: pointer;
 }
